/**
 * @Main scss for (Template/Project Name)
 * @project     - Project Name
 * @author      - 
 * @created_by  - Asraful Hoque
 * @created_at  - 
 * @modified_by -
 */
/* fonts import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@font-face {
  font-family: "Value Sans Pro";
  src: url("../fonts/ValueSansPro-Regular.woff2") format("woff2"), url("../fonts/ValueSansPro-Regular.woff") format("woff"), url("../fonts/ValueSansPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Value Sans Pro";
  src: url("../fonts/ValueSansPro-Medium.woff2") format("woff2"), url("../fonts/ValueSansPro-Medium.woff") format("woff"), url("../fonts/ValueSansPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Value Sans Pro";
  src: url("../fonts/ValueSansPro-Bold.woff2") format("woff2"), url("../fonts/ValueSansPro-Bold.woff") format("woff"), url("../fonts/ValueSansPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
/* fonts import -END */
/* reset, root */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  font-family: "Value Sans Pro";
}

/*font */
.ff-p {
  font-family: "Poppins", sans-serif;
}

/* font end */
:root {
  --primary: #603eff;
  --primary-shad: #e1dbff;
  --secondary: #0e1552;
  --secondary-shad: #d9ddff;
  --dark-1: #090712;
  --dark-2: #1e1b28;
  --dark-3: #3b3945;
  --dark-4: #6b6974;
  --dark-5: #dedede;
  --dark-6: #e9ebf1;
  --dark-7: #f0f2f6;
  --white: #fff;
  --text-1: #011a49;
  --text-2: #535c6d;
  --text-3: #b4b5bd;
  --text-4: #D6D8DF;
  --purple: #5a3bee;
  --deep-blue: #050824;
}

/* reset, root - END */
@media (min-width: 1400px) {
  .container {
    max-width: 1134px;
  }
}

/* helper , base classes */
.text-clr-primary {
  color: var(--primary);
}

.text-clr-p-shad {
  color: var(--primary-shad);
}

.text-clr-secondary {
  color: var(--secondary);
}

.text-clr-s-shad {
  color: var(--secondary-shad);
}

.text-clr-dark1 {
  color: var(--lavender);
}

.text-clr-dark2 {
  color: var(--dark);
}

.text-clr-dark3 {
  color: var(--eastbay);
}

.text-clr-dark4 {
  color: var(--stormgrey);
}

.text-clr-dark5 {
  color: var(--dark-5);
}

.text-clr-dark6 {
  color: var(--solitude);
}

.text-clr-dark7 {
  color: var(--lavender2);
}

.text-clr-white {
  color: var(--white);
}

.text-clr1 {
  color: var(--text-1);
}

.text-clr2 {
  color: var(--text-2);
}

.text-clr3 {
  color: var(--text-3);
}

.text-clr4 {
  color: var(--text-4);
}

.bg-clr-primary {
  background-color: var(--primary);
}

.bg-clr-p-shad {
  color: var(--primary-shad);
}

.bg-clr-secondary {
  color: var(--secondary);
}

.bg-clr-s-shad {
  color: var(--secondary-shad);
}

.bg-clr-dark1 {
  color: var(--lavender);
}

.bg-clr-dark2 {
  color: var(--dark);
}

.bg-clr-purple {
  background-color: var(--purple);
}

.bg-clr-deep-blue {
  background-color: var(--deep-blue);
}

.bg-clr-dark5 {
  color: var(--manatee);
}

.bg-clr-dark6 {
  color: var(--solitude);
}

.bg-clr-dark7 {
  color: var(--lavender2);
}

.bg-clr-white {
  color: var(--white);
}

.fs-13 {
  font-size: 13px;
  line-height: normal;
}

.fs-14 {
  font-size: 14px;
  line-height: 22px;
}
@media (max-width: 575px) {
  .fs-14 {
    font-size: 12px;
    line-height: 20px;
  }
}

.fs-6 {
  line-height: 26px;
}
@media (max-width: 767px) {
  .fs-6 {
    font-size: 13px !important;
    line-height: 22px !important;
    font-weight: 400;
  }
}

.fs-17 {
  font-size: 17px;
  line-height: 28px;
}
@media (max-width: 575px) {
  .fs-17 {
    font-size: 14px;
    line-height: 25px;
  }
}

.fs-18 {
  font-size: 18px;
  line-height: 28px;
}
@media (max-width: 575px) {
  .fs-18 {
    font-size: 12px;
    line-height: normal;
  }
}

.fs-18-f {
  font-size: 18px;
  line-height: 30px;
}

.fs-5 {
  line-height: 30px;
}
@media (max-width: 575px) {
  .fs-5 {
    font-size: 15px !important;
    line-height: 26px !important;
  }
}

.fs-4 {
  line-height: 34px;
}
@media (max-width: 991px) {
  .fs-4 {
    font-size: 22px !important;
    line-height: 30px;
  }
}
@media (max-width: 575px) {
  .fs-4 {
    font-size: 20px !important;
    line-height: 28px;
  }
}

.fs-36 {
  font-size: 36px;
  line-height: 46px;
}
@media (max-width: 575px) {
  .fs-36 {
    font-size: 24px;
    line-height: 34px;
  }
}

.fs-1 {
  line-height: 60px;
}
@media (max-width: 767px) {
  .fs-1 {
    font-size: 34px;
    line-height: 44px;
  }
}
@media (max-width: 575px) {
  .fs-1 {
    font-size: 24px;
    line-height: 34px;
  }
}

.fs-44 {
  font-size: 44px;
  line-height: 56px;
}
@media (max-width: 991px) {
  .fs-44 {
    font-size: 35px;
    line-height: 45px;
  }
}
@media (max-width: 767px) {
  .fs-44 {
    font-size: 30px;
    line-height: 40px;
  }
}

.fs-60 {
  font-size: 60px;
  line-height: 70px;
}
@media (max-width: 991px) {
  .fs-60 {
    font-size: 42px;
    line-height: 52px;
  }
}
@media (max-width: 575px) {
  .fs-60 {
    font-size: 30px;
    line-height: 40px;
  }
}

.fw-normal {
  font-weight: 400;
}

.fw-medium {
  font-weight: 500;
}

.fw-semi-bold {
  font-weight: 600;
}

.fw-bold {
  font-weight: 700;
}

.lh-26 {
  line-height: 26px !important;
}

.lh-30 {
  line-height: 30px;
}

.box-shadow {
  box-shadow: 0px 15px 40px rgba(22, 8, 49, 0.1);
}

.box-shadow2 {
  box-shadow: 0px 7px 40px rgba(0, 0, 0, 0.05);
}

.radius-30 {
  border-radius: 30px;
}

.radius-16 {
  border-radius: 16px;
}

.mt-25 {
  margin-top: -25px;
}

.mt-60 {
  margin-top: 60px;
}

.mb-60 {
  margin-bottom: 60px;
}

.pb-19 {
  padding-bottom: 19px;
}

.pb-35 {
  padding-bottom: 35px;
}
@media (max-width: 575px) {
  .pb-35 {
    padding-bottom: 25px;
  }
}

.pb-40 {
  padding-bottom: 40px;
}
@media (max-width: 575px) {
  .pb-40 {
    padding-bottom: 30px;
  }
}

.pb-60 {
  padding-bottom: 60px;
}
@media (max-width: 575px) {
  .pb-60 {
    padding-bottom: 50px;
  }
}

.pr-30 {
  padding-right: 30px !important;
}

.pr-50 {
  padding-right: 50px !important;
}

.py-17 {
  padding: 17px 0;
}
@media (max-width: 575px) {
  .py-17 {
    padding: 0;
  }
}

.mb-60 {
  margin-bottom: 60px;
}
@media (max-width: 767px) {
  .mb-60 {
    margin-bottom: 30px;
  }
}
@media (max-width: 575px) {
  .mb-60 {
    margin-bottom: 40px;
  }
}

.py-80 {
  padding: 80px 0;
}
@media (max-width: 991px) {
  .py-80 {
    padding: 60px 0;
  }
}
@media (max-width: 575px) {
  .py-80 {
    padding: 50px 0;
  }
}

.py-84 {
  padding: 84px 0;
}
@media (max-width: 575px) {
  .py-84 {
    padding: 50px 0;
  }
}

.py-110 {
  padding: 110px 0;
}
@media (max-width: 991px) {
  .py-110 {
    padding: 80px 0;
  }
}
@media (max-width: 767px) {
  .py-110 {
    padding: 60px 0;
  }
}

.py-110-2 {
  padding: 110px 0;
}
@media (max-width: 991px) {
  .py-110-2 {
    padding: 50px 0 90px 0;
  }
}
@media (max-width: 575px) {
  .py-110-2 {
    padding: 50px 0;
  }
}

.footer-border {
  width: 104px;
  height: 2px;
  border-radius: 30px;
  background: linear-gradient(90deg, #603eff 0%, rgba(0, 0, 0, 0) 100%);
}

/* helper , base classes  - END*/
header {
  position: absolute;
  width: 100%;
  z-index: 100;
  border-bottom: 1px solid #e1e3f1;
}
@media (max-width: 991px) {
  header {
    border: none;
  }
}
@media (max-width: 575px) {
  header {
    position: relative;
  }
}
header .header-btn {
  padding: 13px 30px !important;
  text-decoration: none;
  list-style: none;
  background-color: var(--secondary);
  display: flex;
  gap: 6px;
}
header .dropdown-toggle::after {
  display: none;
}
header .dropdown-toggle::before {
  width: 24px !important;
  height: 24px !important;
  background: url('data:image/svg+xml,<svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.9996 15.5492L6.34961 9.87422L7.39961 8.82422L11.9996 13.4242L16.5996 8.82422L17.6496 9.87422L11.9996 15.5492Z" fill="%236B6974"/></svg>') !important;
  background-repeat: no-repeat !important;
  right: 0;
  top: 10px;
  content: "";
  position: absolute;
  padding-right: 45px;
}
@media (max-width: 991px) {
  header .navbar {
    position: absolute;
    width: 100%;
  }
  header .navbar .navbar-collapse {
    background-color: var(--white);
    border-radius: 0 0 15px 15px;
  }
  header .navbar .navbar-nav {
    padding: 20px;
  }
}
@media (max-width: 575px) {
  header .navbar {
    background-color: var(--white);
    padding: 21px 16px;
  }
}
header .navbar .navbar-toggler:focus {
  box-shadow: none;
}
@media (max-width: 575px) {
  header .navbar .navbar-toggler {
    border: none !important;
    font-weight: 700;
  }
}
header .navbar-nav .active {
  color: var(--dark-1) !important;
  font-weight: 700 !important;
}
header .navbar-nav .nav-item-wrap {
  position: relative;
}
header .navbar-nav .nav-item-wrap::after {
  position: absolute;
  content: "";
  top: 68px;
  left: 0%;
  right: 0%;
  width: 0%;
  height: 3px;
  border-radius: 30px;
  background: linear-gradient(90deg, #603eff 0%, rgba(96, 62, 255, 0) 100%);
  transition: all 0.2s linear;
}
@media (max-width: 991px) {
  header .navbar-nav .nav-item-wrap::after {
    top: 40px;
  }
}
header .navbar-nav .nav-item-wrap:hover::after {
  width: 100%;
}

.hero-wrapper {
  background: url("../img/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
  padding: 177px 0 93px 0;
  position: relative;
  z-index: 9;
}
@media (max-width: 991px) {
  .hero-wrapper {
    padding: 140px 0 60px 0;
  }
}
@media (max-width: 767px) {
  .hero-wrapper {
    padding: 150px 0 80px 0;
  }
}
@media (max-width: 575px) {
  .hero-wrapper {
    padding: 215px 0 100px 0;
  }
}
.hero-wrapper::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 241px;
  height: 293px;
  background-image: url("../img/hero-bg-position.png");
  background-repeat: no-repeat;
  z-index: 10;
}
@media (max-width: 575px) {
  .hero-wrapper::after {
    width: 60px;
    height: 78px;
    background-size: contain;
  }
}
.hero-wrapper .hero-content {
  position: relative;
}
.hero-wrapper .hero-content::after {
  position: absolute;
  content: "";
  top: -50px;
  left: -28px;
  width: 100px;
  height: 100px;
  background-image: url("../img/hero-content-position.png");
}
@media (max-width: 575px) {
  .hero-wrapper .hero-content::after {
    width: 58px;
    height: 58px;
    background-size: contain;
    top: -23px;
    left: -9px;
  }
}
.hero-wrapper .hero-content .mail-subscribe {
  position: relative;
  z-index: 99;
  max-width: 540px;
  width: 100%;
  margin: auto;
}
.hero-wrapper .hero-content .mail-subscribe .hero-mail {
  padding: 26px 24px;
  border: none;
  width: 100%;
  border-radius: 100px;
  box-shadow: 0px 20px 40px 0px rgba(161, 141, 255, 0.1);
  color: rgba(107, 105, 116, 0.6);
}
.hero-wrapper .hero-content .mail-subscribe .hero-mail:focus-visible {
  outline: none !important;
}
@media (max-width: 767px) {
  .hero-wrapper .hero-content .mail-subscribe .hero-mail {
    padding: 23px 21px;
    font-size: 13px !important;
    line-height: 20px;
  }
}
@media (max-width: 575px) {
  .hero-wrapper .hero-content .mail-subscribe .hero-mail {
    padding: 17px 24px;
    font-size: 12px !important;
    line-height: 20px;
  }
}
.hero-wrapper .hero-content .mail-subscribe .hero-btn {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  padding: 13px 30px !important;
  color: var(--white);
  background-color: var(--primary);
  border: none;
  border-radius: 30px;
  display: flex;
  gap: 6px;
}
@media (max-width: 991px) {
  .hero-wrapper .hero-content .mail-subscribe .hero-btn {
    transform: none;
    top: 13px;
  }
}
@media (max-width: 767px) {
  .hero-wrapper .hero-content .mail-subscribe .hero-btn {
    padding: 10px 27px;
    top: 9%;
    right: 2%;
  }
}
@media (max-width: 575px) {
  .hero-wrapper .hero-content .mail-subscribe .hero-btn {
    padding: 9px 22px;
    font-size: 13px !important;
    line-height: normal !important;
    font-weight: 700;
    align-items: center;
    top: 8%;
    right: 2%;
  }
}
.hero-wrapper .hero-img {
  position: relative;
  left: 60px;
  transition: all 0.4s linear;
  z-index: 11;
}
.hero-wrapper .hero-img:hover {
  transform: scale(1.1);
}
@media (max-width: 1199px) {
  .hero-wrapper .hero-img {
    left: 30px;
  }
}
@media (max-width: 991px) {
  .hero-wrapper .hero-img {
    max-width: 80%;
    width: 100%;
    left: 0;
  }
}
@media (max-width: 767px) {
  .hero-wrapper .hero-img {
    max-width: 100%;
    width: 100%;
  }
}

.brand-wrapper .swiper1 {
  padding: 30px 15px;
}
@media (max-width: 767px) {
  .brand-wrapper .swiper1 {
    padding: 0 15px;
  }
}
.brand-wrapper .swiper1 .brand {
  display: flex;
}
.brand-wrapper .swiper1 .brand .brand-card {
  max-width: 170px;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white);
  box-shadow: 0px 10px 30px 0px rgba(27, 77, 173, 0.08);
  border-radius: 16px;
}
@media (max-width: 575px) {
  .brand-wrapper .swiper1 .brand .brand-card {
    max-width: 107px;
    width: 100%;
    border-radius: 8px;
    height: 50px;
    padding: 12px 18px;
  }
}
@media (max-width: 575px) {
  .brand-wrapper .swiper1 .swiper-pagination {
    margin-top: 30px;
  }
}

.comment-wrapper {
  background: linear-gradient(180deg, #ece8ff 0%, #f2fbff 100%);
}
.comment-wrapper .comment-card-wrapper .comment-card {
  margin-top: 60px;
  padding: 30px 44px;
  background-color: var(--white);
  border-radius: 16px;
  box-shadow: 0px 10px 30px 0px rgba(27, 77, 173, 0.08);
  border: 1px solid transparent;
  transition: all 0.5s ease-in-out;
}
.comment-wrapper .comment-card-wrapper .comment-card:hover {
  border: 1.5px solid var(--primary);
  transform: scale(1.1);
}
@media (max-width: 575px) {
  .comment-wrapper .comment-card-wrapper .comment-card:hover {
    transform: none;
  }
}
@media (max-width: 991px) {
  .comment-wrapper .comment-card-wrapper .comment-card {
    padding: 20px 15px;
  }
}
@media (max-width: 767px) {
  .comment-wrapper .comment-card-wrapper .comment-card {
    margin-top: 20px;
    padding: 30px 44px;
  }
}
@media (max-width: 575px) {
  .comment-wrapper .comment-card-wrapper .comment-card {
    margin-top: 25px;
  }
}

.feature-first-wrapper {
  position: relative;
}
.feature-first-wrapper::before {
  position: absolute;
  content: "";
  left: 0;
  top: 210px;
  height: 464px;
  width: 152px;
  background-image: url("../img/feature1-l.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -2;
}
@media (max-width: 575px) {
  .feature-first-wrapper::before {
    display: none;
  }
}
.feature-first-wrapper::after {
  position: absolute;
  content: "";
  top: 145px;
  right: 40px;
  width: 210px;
  height: 96px;
  background-image: url("../img/feature1-r.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -3;
}
@media (max-width: 575px) {
  .feature-first-wrapper::after {
    display: none;
  }
}
.feature-first-wrapper .feature-content .h1 {
  font-size: 120px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  opacity: 0.7;
  background: linear-gradient(180deg, rgba(76, 64, 247, 0.3) 0%, rgba(255, 255, 255, 0.2) 82.5%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}
@media (max-width: 575px) {
  .feature-first-wrapper .feature-content .h1 {
    font-size: 80px;
    padding-top: 25px;
    margin-bottom: -30px;
  }
}
@media (max-width: 575px) {
  .feature-first-wrapper .feature-content h6 {
    font-size: 12px !important;
    line-height: 20px !important;
  }
}

.feature-second-wrapper {
  position: relative;
}
.feature-second-wrapper::before {
  position: absolute;
  content: "";
  left: 76px;
  bottom: -54px;
  height: 96px;
  width: 210px;
  background-image: url("../img/feature2-l.png");
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-width: 575px) {
  .feature-second-wrapper::before {
    display: none;
  }
}
.feature-second-wrapper::after {
  position: absolute;
  content: "";
  top: 34px;
  right: 0;
  width: 238px;
  height: 555px;
  background-image: url("../img/feature2-r.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -9;
}
@media (max-width: 575px) {
  .feature-second-wrapper::after {
    display: none;
  }
}
.feature-second-wrapper .feature-content .h1 {
  font-size: 120px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  opacity: 0.7;
  background: linear-gradient(180deg, rgba(76, 64, 247, 0.3) 0%, rgba(255, 255, 255, 0.2) 82.5%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}
@media (max-width: 575px) {
  .feature-second-wrapper .feature-content .h1 {
    font-size: 80px;
    padding-top: 25px;
    margin-bottom: -30px;
  }
}
@media (max-width: 575px) {
  .feature-second-wrapper .feature-content h6 {
    font-size: 12px !important;
    line-height: 20px !important;
  }
}

.feature-third-wrapper {
  background: linear-gradient(180deg, #feffff, #f7f6ff);
}
.feature-third-wrapper .feature-content .h1 {
  font-size: 120px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  opacity: 0.7;
  background: linear-gradient(180deg, rgba(76, 64, 247, 0.3) 0%, rgba(255, 255, 255, 0.2) 82.5%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}
@media (max-width: 575px) {
  .feature-third-wrapper .feature-content .h1 {
    font-size: 80px;
    padding-top: 25px;
    margin-bottom: -30px;
  }
}
@media (max-width: 575px) {
  .feature-third-wrapper .feature-content h6 {
    font-size: 12px !important;
    line-height: 20px !important;
  }
}

.tools-slider-wrapper {
  background: linear-gradient(180deg, rgba(233, 228, 255, 0.79) 16.47%, rgba(242, 251, 255, 0) 100%);
  text-align: center;
}
.tools-slider-wrapper .tools-slide {
  padding-top: 45px;
}
@media (max-width: 575px) {
  .tools-slider-wrapper .tools-slide {
    padding-top: 12px;
  }
}
.tools-slider-wrapper .tools-slide .splide .splide__arrows svg {
  width: 70px;
}
.tools-slider-wrapper .tools-slide .splide .splide__arrows svg * {
  transition: all 0.2s linear;
}
.tools-slider-wrapper .tools-slide .splide .splide__pagination {
  margin: -50px !important;
}
@media (max-width: 575px) {
  .tools-slider-wrapper .tools-slide .splide .splide__pagination {
    margin: -25px !important;
  }
}
.tools-slider-wrapper .tools-slide .splide .splide__pagination .splide__pagination__page {
  background: #eae7ff;
  width: 10px;
  height: 10px;
}
.tools-slider-wrapper .tools-slide .splide .splide__pagination .splide__pagination__page.is-active {
  background: var(--primary);
  transform: scale(1);
}
.tools-slider-wrapper .tools-slide .splide .splide__arrow--prev {
  margin-left: -170px;
  background: none !important;
}
@media (max-width: 1500px) {
  .tools-slider-wrapper .tools-slide .splide .splide__arrow--prev {
    margin-left: -100px;
  }
}
@media (max-width: 1350px) {
  .tools-slider-wrapper .tools-slide .splide .splide__arrow--prev {
    margin-left: -30px;
  }
}
@media (max-width: 1030px) {
  .tools-slider-wrapper .tools-slide .splide .splide__arrow--prev {
    margin-left: -20px;
  }
}
@media (max-width: 767px) {
  .tools-slider-wrapper .tools-slide .splide .splide__arrow--prev {
    margin-left: -35px;
  }
}
@media (max-width: 600px) {
  .tools-slider-wrapper .tools-slide .splide .splide__arrow--prev {
    margin-left: 0px;
  }
}
@media (max-width: 400px) {
  .tools-slider-wrapper .tools-slide .splide .splide__arrow--prev {
    display: none;
  }
}
.tools-slider-wrapper .tools-slide .splide .splide__arrow--prev .left {
  transform: rotate(180deg);
}
.tools-slider-wrapper .tools-slide .splide .splide__arrow--prev:hover svg * {
  fill: var(--primary);
}
.tools-slider-wrapper .tools-slide .splide .splide__arrow--next {
  margin-right: -170px;
  background: none !important;
}
@media (max-width: 1500px) {
  .tools-slider-wrapper .tools-slide .splide .splide__arrow--next {
    margin-right: -100px;
  }
}
@media (max-width: 1350px) {
  .tools-slider-wrapper .tools-slide .splide .splide__arrow--next {
    margin-right: -30px;
  }
}
@media (max-width: 1030px) {
  .tools-slider-wrapper .tools-slide .splide .splide__arrow--next {
    margin-right: -20px;
  }
}
@media (max-width: 767px) {
  .tools-slider-wrapper .tools-slide .splide .splide__arrow--next {
    margin-right: -35px;
  }
}
@media (max-width: 600px) {
  .tools-slider-wrapper .tools-slide .splide .splide__arrow--next {
    margin-right: 0px;
  }
}
@media (max-width: 400px) {
  .tools-slider-wrapper .tools-slide .splide .splide__arrow--next {
    display: none;
  }
}
.tools-slider-wrapper .tools-slide .splide .splide__arrow--next:hover svg * {
  fill: var(--primary);
}
.tools-slider-wrapper .tools-slide .splide .splide__track {
  padding: 30px;
}
.tools-slider-wrapper .tools-slide .splide .splide__track .splide__list .splide__slide .tools-card {
  height: 226px;
  width: 100%;
  background-color: var(--white);
  border-radius: 16px;
  box-shadow: 0px 10px 30px 0px rgba(27, 77, 173, 0.08);
  border: 1.5px solid transparent;
}
.tools-slider-wrapper .tools-slide .splide .splide__track .splide__list .splide__slide .tools-card:hover {
  border: 1.5px solid var(--primary);
  transition: all 0.3s linear;
}
@media (max-width: 575px) {
  .tools-slider-wrapper .tools-slide .splide .splide__track .splide__list .splide__slide .tools-card {
    height: 166px;
    max-width: 150px;
  }
}
.tools-slider-wrapper .tools-slide .splide .splide__track .splide__list .splide__slide .tools-card .tools-icon {
  padding: 30px 51px 46px 51px;
}
@media (max-width: 575px) {
  .tools-slider-wrapper .tools-slide .splide .splide__track .splide__list .splide__slide .tools-card .tools-icon {
    padding: 25px 40px;
  }
}
.tools-slider-wrapper .tools-slide .splide .splide__track .splide__list .splide__slide .tools-card .tools-divider {
  background: linear-gradient(90deg, rgba(14, 21, 82, 0) 0%, rgba(14, 21, 82, 0.6) 50%, rgba(14, 21, 82, 0) 100%);
  height: 1px;
  width: 100%;
}

.work-process-wrapper {
  position: relative;
}
.work-process-wrapper::before {
  position: absolute;
  content: "";
  width: 169px;
  height: 153px;
  top: 46px;
  left: 40px;
  background-image: url("../img/work-process-r.svg");
  background-repeat: no-repeat;
}
@media (max-width: 575px) {
  .work-process-wrapper::before {
    width: 72px;
    height: 65px;
    background-size: contain;
    top: 40px;
    left: 30px;
  }
}
.work-process-wrapper::after {
  position: absolute;
  content: "";
  width: 169px;
  height: 153px;
  bottom: 46px;
  right: 80px;
  background-image: url("../img/work-process-r.svg");
  background-repeat: no-repeat;
}
@media (max-width: 575px) {
  .work-process-wrapper::after {
    width: 81px;
    height: 73px;
    background-size: contain;
    right: 0;
    bottom: 20px;
  }
}
.work-process-wrapper .work-process-card .work-process-content {
  padding: 20px;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: rgba(255, 255, 255, 0.1);
}
@media (max-width: 991px) {
  .work-process-wrapper .work-process-card .work-process-content {
    margin-top: 65px;
  }
}
.work-process-wrapper .work-process-card .work-process-content img {
  margin-top: -60px;
}
@media (max-width: 767px) {
  .work-process-wrapper .work-process-card .work-process-content img {
    max-width: 70px;
    width: 100%;
  }
}
@media (max-width: 575px) {
  .work-process-wrapper .work-process-card .work-process-content img {
    max-width: 60px;
    width: 100%;
  }
}
.work-process-wrapper .work-process-btn {
  padding: 17px 36px;
  text-decoration: none;
  list-style: none;
  background: var(--white);
  border-radius: 30px;
  color: var(--secondary);
  font-size: 16px;
  font-weight: 500;
}
@media (max-width: 575px) {
  .work-process-wrapper .work-process-btn {
    padding: 13px 30px;
    font-size: 14px;
  }
}

.testimonial-wrapper {
  background: linear-gradient(180deg, #ece8ff 0%, #f2fbff 100%);
  text-align: center;
}
.testimonial-wrapper .testimonial-slide {
  padding-top: 60px;
}
@media (max-width: 575px) {
  .testimonial-wrapper .testimonial-slide {
    padding-top: 2px;
  }
}
.testimonial-wrapper .testimonial-slide .splide .splide__arrows svg {
  width: 70px;
}
.testimonial-wrapper .testimonial-slide .splide .splide__arrows svg * {
  transition: all 0.2s linear;
}
.testimonial-wrapper .testimonial-slide .splide .splide__pagination {
  margin: -50px !important;
}
@media (max-width: 575px) {
  .testimonial-wrapper .testimonial-slide .splide .splide__pagination {
    margin: -25px !important;
  }
}
.testimonial-wrapper .testimonial-slide .splide .splide__pagination .splide__pagination__page {
  background: #eae7ff;
  width: 10px;
  height: 10px;
}
.testimonial-wrapper .testimonial-slide .splide .splide__pagination .splide__pagination__page.is-active {
  background: var(--primary);
  transform: scale(1);
}
.testimonial-wrapper .testimonial-slide .splide .splide__arrow--prev {
  margin-left: -170px;
  background: none !important;
}
@media (max-width: 1500px) {
  .testimonial-wrapper .testimonial-slide .splide .splide__arrow--prev {
    margin-left: -100px;
  }
}
@media (max-width: 1350px) {
  .testimonial-wrapper .testimonial-slide .splide .splide__arrow--prev {
    margin-left: -30px;
  }
}
@media (max-width: 1030px) {
  .testimonial-wrapper .testimonial-slide .splide .splide__arrow--prev {
    margin-left: -20px;
  }
}
@media (max-width: 580px) {
  .testimonial-wrapper .testimonial-slide .splide .splide__arrow--prev {
    display: none;
  }
}
.testimonial-wrapper .testimonial-slide .splide .splide__arrow--prev .left {
  transform: rotate(180deg);
}
.testimonial-wrapper .testimonial-slide .splide .splide__arrow--prev:hover svg * {
  fill: var(--primary);
}
.testimonial-wrapper .testimonial-slide .splide .splide__arrow--next {
  margin-right: -170px;
  background: none !important;
}
@media (max-width: 1500px) {
  .testimonial-wrapper .testimonial-slide .splide .splide__arrow--next {
    margin-right: -100px;
  }
}
@media (max-width: 1350px) {
  .testimonial-wrapper .testimonial-slide .splide .splide__arrow--next {
    margin-right: -30px;
  }
}
@media (max-width: 1030px) {
  .testimonial-wrapper .testimonial-slide .splide .splide__arrow--next {
    margin-right: -20px;
  }
}
@media (max-width: 580px) {
  .testimonial-wrapper .testimonial-slide .splide .splide__arrow--next {
    display: none;
  }
}
.testimonial-wrapper .testimonial-slide .splide .splide__arrow--next:hover svg * {
  fill: var(--primary);
}
.testimonial-wrapper .testimonial-slide .splide .splide__track {
  padding: 30px;
}
@media (max-width: 1350px) {
  .testimonial-wrapper .testimonial-slide .splide .splide__track .splide__list .splide__slide {
    margin: 0.5rem !important;
  }
}
.testimonial-wrapper .testimonial-slide .splide .splide__track .splide__list .splide__slide .testimonial-card {
  padding: 50px 35px 40px 35px;
  min-height: 374px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--white);
  border-radius: 16px;
  box-shadow: 0px 10px 30px 0px rgba(27, 77, 173, 0.08);
  position: relative;
  width: 100%;
}
@media (max-width: 1350px) {
  .testimonial-wrapper .testimonial-slide .splide .splide__track .splide__list .splide__slide .testimonial-card {
    padding: 25px;
    min-height: 350px;
    width: 100%;
  }
}
@media (max-width: 776px) {
  .testimonial-wrapper .testimonial-slide .splide .splide__track .splide__list .splide__slide .testimonial-card {
    padding: 25px;
    min-height: 350px;
    max-width: 94%;
    width: 100%;
  }
}
@media (max-width: 575px) {
  .testimonial-wrapper .testimonial-slide .splide .splide__track .splide__list .splide__slide .testimonial-card {
    padding: 50px 31px 31px 32px;
    min-height: 331px;
    max-width: 94%;
    width: 100%;
  }
}
.testimonial-wrapper .testimonial-slide .splide .splide__track .splide__list .splide__slide .testimonial-card ::after {
  position: absolute;
  content: "";
  top: -35px;
  right: 33px;
  width: 56px;
  height: 56px;
  background-image: url("../img/quote-icon.svg");
  background-repeat: no-repeat;
}
.testimonial-wrapper .testimonial-slide .splide .splide__track .splide__list .splide__slide .testimonial-card .pt-25 {
  padding-top: 25px;
}

.app {
  background: linear-gradient(180deg, #ffffff, #f8f6ff);
  position: relative;
  z-index: -9;
}
.app::after {
  position: absolute;
  content: "";
  top: 100px;
  right: 0;
  width: 164px;
  height: 383px;
  background-image: url("../img/app-right.png");
  z-index: -8;
}
@media (max-width: 575px) {
  .app::after {
    display: none;
  }
}

.footer-wrapper {
  background: url("../img/footer-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: contain;
}
@media (max-width: 575px) {
  .footer-wrapper {
    background: var(--deep-blue);
  }
}
@media (max-width: 575px) {
  .footer-wrapper .footer-wrap .footer-logo {
    max-width: 166px;
    width: 100%;
  }
}
.footer-wrapper .footer-wrap h5 {
  font-size: 20px !important;
  line-height: 30px !important;
}
.footer-wrapper .footer-wrap h6 {
  font-size: 16px !important;
  line-height: 26px !important;
}
.footer-wrapper .footer-wrap p {
  font-size: 18px !important;
  line-height: 28px !important;
}
.footer-wrapper .footer-wrap .form-control {
  padding: 14px 20px 13px 47px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 30px;
  color: #8e909c;
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 47px;
  letter-spacing: 0.65px;
  background-position: center left 20px;
  background-image: url("../img/sms.svg");
  background-repeat: no-repeat;
}
@media (max-width: 575px) {
  .footer-wrapper .footer-wrap .form-control {
    padding: 10px 20px 10px 45px;
    max-width: 100%;
    width: 100%;
    height: 40px;
    font-size: 12px !important;
  }
}
.footer-wrapper .footer-wrap .form-control:focus {
  box-shadow: none;
}
.footer-wrapper .footer-wrap .form-control-btn {
  padding: 13px 30px;
}
@media (max-width: 575px) {
  .footer-wrapper .footer-wrap .form-control-btn {
    padding: 9px 22px;
    font-size: 13px !important;
  }
}
.footer-wrapper .divider {
  border: 1px solid var(--dark-3);
}
.footer-wrapper .copyright-wrapper {
  padding: 20px 0 17px 0;
}
@media (max-width: 767px) {
  .footer-wrapper .copyright-wrapper {
    padding: 25px 0 50px 0;
  }
}
.footer-wrapper .copyright-wrapper .footer-social {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #3B3945;
  border-radius: 100px;
  transition: all 0.3s linear;
}
.footer-wrapper .copyright-wrapper .footer-social:hover {
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

.scrolltop .icon {
  text-align: center;
  margin-top: 9px;
}

.scrolltop {
  position: fixed;
  bottom: 30px;
  right: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary);
  display: none;
}

.banner-wrapper {
  background: url("../img/about-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
  padding: 177px 0 93px 0;
  position: relative;
  z-index: 9;
}
@media (max-width: 991px) {
  .banner-wrapper {
    padding: 140px 0 60px 0;
  }
}
@media (max-width: 767px) {
  .banner-wrapper {
    padding: 150px 0 80px 0;
  }
}
@media (max-width: 575px) {
  .banner-wrapper {
    padding: 215px 0 100px 0;
  }
}
.banner-wrapper::after {
  position: absolute;
  content: "";
  top: 159px;
  left: 228px;
  width: 43px;
  height: 35px;
  background-image: url("../img/about-p1.svg");
  background-repeat: no-repeat;
  z-index: 10;
}
@media (max-width: 575px) {
  .banner-wrapper::after {
    width: 60px;
    height: 78px;
    background-size: contain;
  }
}
.banner-wrapper .hero-content {
  position: relative;
}
.banner-wrapper .hero-content h2 {
  line-height: 50px !important;
}
.banner-wrapper .hero-content::after {
  position: absolute;
  content: "";
  top: -40px;
  left: -40px;
  width: 107px;
  height: 97px;
  background-image: url("../img/about-p2.svg");
}
@media (max-width: 575px) {
  .banner-wrapper .hero-content::after {
    width: 58px;
    height: 58px;
    background-size: contain;
    top: -23px;
    left: -9px;
  }
}
.banner-wrapper .hero-img {
  position: relative;
  left: 60px;
  transition: all 0.4s linear;
  z-index: 11;
}
.banner-wrapper .hero-img:hover {
  transform: scale(1.1);
}
@media (max-width: 1199px) {
  .banner-wrapper .hero-img {
    left: 30px;
  }
}
@media (max-width: 991px) {
  .banner-wrapper .hero-img {
    max-width: 80%;
    width: 100%;
    left: 0;
  }
}
@media (max-width: 767px) {
  .banner-wrapper .hero-img {
    max-width: 100%;
    width: 100%;
  }
}

.benefit-wrapper .benefits-card {
  padding: 40px 55px 36px 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 16px;
  box-shadow: 0px 10px 30px 0px rgba(27, 77, 173, 0.08);
  position: relative;
}
.benefit-wrapper .benefits-card::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background-image: url("../img/benefit-lt.png");
  background-repeat: no-repeat;
  width: 143px;
  height: 550px;
}/*# sourceMappingURL=style.css.map */